.survey-container {
    width:50%;
    margin:auto;
    background-color: #87CEFA;
    border-style: solid;
    border-color: black;
}

.title {
	text-align: center;
}

.block {
	display: block;
}

#btn-next {
	float: right;
}

#btn-result {
	float: right;
}
